{% extends 'base.html.twig' %}

{% block title %}Modules{% endblock %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block container %}
  <h1>Modules</h1>
  {% for module in modules %}
    {{ module.title }}
    {{ module.urlDownload }}
    {{ module.urlGit }}
    {{ module.description }}
  {% endfor %}
{% endblock %}